# github credentials
export GITHUB_CLIENT_ID=
export GITHUB_CLIENT_SECRET=
export GITHUB_ACCESS_TOKEN=
export ORGANISATION=

# slack credentials
export SLACK_TOKEN=

# RH configurations
export ADMIN_MEMBERS=
export DEFAULT_NOTIFY_IDS=
export DEFAULT_CHANNEL=
export RH_USER_EMAIL_DOMAIN=

# Pusher credentials
export PUSHER_APP_ID=
export PUSHER_KEY=
export PUSHER_SECRET=
export PUSHER_CLUSTER=

# Sentry credentials
export SENTRY_API_URI=
export SENTRY_API_TOKEN=
export SENTRY_ORG_SLUG=
